*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'barlow-thin';
    src: url(./Barlow-Thin.woff2)
    format('woff2');

}

@font-face {
    font-family: 'barlow-light';
    src: url(./Barlow-Light.woff2)
    format('woff2');
    
}
@font-face {
    font-family: 'barlow-medium';
    src: url(./Barlow-Medium.woff2)
    format('woff2');
}
@font-face {
    font-family: 'barlow-regular';
    src: url(./Barlow-Regular.woff2)
    format('woff2');
}
@font-face {
    font-family: 'barlow-bold';
    src: url(./Barlow-Bold.woff2)
    format('woff2');
}



body{
    max-width:2040px;
    margin: 0 auto;
    background-color:#EFF6FF;
    height: 1200px;
    width: 1000px;
}

.container{
    width: 1080px;
    height: 800px;
    display:flex;
    gap: 0px;
    justify-content: center;
    background-color: white;
    margin-top:70px;
  
}

.logotype{
    width: 540px;
    height: 800px;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.logo{
    display: block;
    height: 100px;
    width: 100px;
    margin-left:50px;
}
.main-form{
    display: inline-block;
    padding: 0 auto;
    width: 540px;
    height: 800px;
    margin-left: 40px;
    margin-top: 70px;

}
 h1{
    color: #7B8A92;
    font-family: 'barlow-light',sans-serif;
   margin-left: 7px;
   font-size: 25px;
}

h2{
    margin: 9px;
    color: #96A5B1;
    font-family:'barlow-thin',sans-serif;
    font-size:16px;
}

h3{
    color: #7B8A92;
    font-family: 'barlow-light',sans-serif;
    font-size: 25px;
}

h4{
    color: #7B8A92;
    font-family: 'barlow-thin',sans-serif;
    font-size: 13px;
}
.sub-title{
    margin-top: 40px;
}

.facebook{
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
    width:226px;
    height: 27px;
    background-color:#255A9B;
    background-image: url(/facebook.svg);
    background-repeat: no-repeat;
    background-size:20px;
    background-position:10px;
    background-position: 5px;
    text-decoration: none;
    text-align:center;
    padding-top:12px;
    
    color: #FFFFFF;
}

.linkedin{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:12px;
    display:inline-block;
    width:226px;
    height: 27px;
    background-color:#0076B6;
    background-image: url(/linkedin.svg);
    background-repeat: no-repeat;
    background-size:20px;
    background-position:10px;
    text-decoration: none;
    text-align:center;
    padding-top:12px;
    color: #FFFFFF
}

.registration-facebook-linkedin{
    margin-top: 40px;
    

}

ul{
    margin-left: 7px;
    display:inline-flex;
    list-style-type: none;
    padding-left: 0;
}

.or{
    font-family: 'barlow-light';
    display:inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #2A4A5C;
    margin-top: 30px;
    margin-bottom: 40px;
}

.or::before,
.or::after{
    content:"";
    width:100px;
    border-bottom:0.1px solid #000;
    margin:20px;
   
}



.registration-email,
.registration-numb{
    position: relative;
    display:inline-block;
}
.registration-email input{
    width: 210px;
    padding:14px 5px 6px;
    font-size: 16px;
    border:2px solid #EEEEEE;
    border-radius: 0,1px;
    border-left: 3px solid #0076B6 ;
}

.registration-numb input{
    width: 210px;
    padding:14px 5px 6px;
    font-size: 16px;
    margin-left: 16px;
    border:2px solid #EEEEEE;
    border-radius: 0,1px;
    border-left: 3px solid #0076B6 ;
}

.placeholder-email{
    position: absolute;
    top: 4px;
    left: 10px;
    font-size: 12px;
    color:#AFAFAF;
}

.placeholder-numb{
    position: absolute;
    top: 4px;
    left: 25px;
    font-size: 12px;
    color: #AFAFAF;
}

.radio-button{
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolt;
    font-size: 14px;
    gap: 60px;
    margin-top: 40px;
    margin-left: 20px;
    color: #2A4A5C;
    position: relative;
}

.tooltiptext{
    margin-top: 20px;
    display: block;
    width: 220px;
    height: 40px;
    font-size: small;
    border-radius: 5px;
    border:1px solid rgb(236, 230, 230);
    padding:10px;
    color:#AFAFAF;
}


.term-of-service{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 30px;
    color:#AFAFAF;
}


.create{
    
margin-top: 50px;
width: 230px;
height: 50px;
background-color: #3698FB;
color: #FFFFFF;
font-size: 20px;
border-radius: 5px;
border: 1px;

}
